main {
  width: 99%;
}

.navbar {
  z-index: 11;
  background-color: transparent !important;
}

.navbar li a {
  color: black;
  font-weight: 300;
  font-family: "Squada One", cursive;
  font-size: 1.5rem;
}

nav #current {
  font-weight: 500;
  color: #fd79a8;
}

.navbar li a:hover {
  color: #fd79a8;
}

.hero__img {
  height: 360px;
  width: 100%;
  margin-top: -200px;
}

.hero {
  width: 101%;
}

.hero__product {
  z-index: 15;
  position: absolute;
  margin-top: 225px;
  margin-left: 160px;
}

.hero__display {
  width: 425px;
}

.hero__content {
  position: relative;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-top: -100px;
}

.hero__content h1 {
  font-family: "Squada One", cursive;
  font-size: 10rem;
  margin-right: 125px;
}

.hero__content .h1__col {
  color: #fd79a8;
}

.col3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.hero__content p {
  font-size: 1.25rem;
  width: 500px;
}

.hero--p__firstline {
  margin-top: -10px;
  margin-left: 50px;
}

.hero--p__secondline {
  width: 200px;
  margin-left: 115px;
}

.text__alignment-hero {
  margin-left: 55px;
}

.last__hero-text {
  margin-left: 90px;
}

.hero__btn {
  background-color: #fd79a8;
  width: 225px;
  height: 65px;
  margin-left: 270px;
  margin-top: 50px;
  border-radius: 50px;
  border-color: #fd79a8;
  border-width: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  text-decoration: none;
  color: white;
}

.hero__btn p {
  font-family: "Squada One", cursive;
  font-size: 2.5rem;
}

.hero__btn:hover {
  background-color: white;
  color: #fd79a8;
  border: #fd79a8 2px solid;
}

.hero__btn p:hover {
  margin-top: -2px;
}

.hero__btn:focus {
  background-color: white;
  color: #fd79a8;
  border: #fd79a8 2px solid;
}

.navbar-brand {
  font-family: "Squada One", cursive;
  font-size: 2.5rem;
  margin-left: 25px;
}

.nav__logo {
  color: #fd79a8;
}

.featured-products__container {
  margin-top: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 400px;
}

.featured__headline h2 {
  font-family: "Squada One", cursive;
  font-size: 4rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.featured__headline {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 220px;
}

.featured__headline h2 span {
  font-family: "Squada One", cursive;
  font-size: 4rem;
  color: #fd79a8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.featured-products__card {
  width: 350px;
  border: #fd79a8 3px solid;
  border-radius: 50px;
  height: 500px;
  margin: 15px;
  margin-top: -225px;
}

.featured__products {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.featured__products h2 {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.featured__products p {
  text-align: center;
}

.featured-products__card img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  border-radius: 50px;
}

.align-items-end {
  width: 100%;
}

.shop_btn a {
  background-color: #fd79a8;
  width: 175px;
  height: 45px;
  border-radius: 50px;
  border-color: #fd79a8;
  border-width: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  text-decoration: none;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 4px;
  font-family: "Squada One", cursive;
  font-size: 1.5rem;
}

.shop_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__logo img {
  width: 250px;
  margin-top: -15px;
}

footer {
  border: #fd79a8 3px solid;
  width: 100%;
}

.footer__links li a {
  color: black;
  font-weight: 300;
  font-family: "Squada One", cursive;
  font-size: 1.5rem;
  text-decoration: none;
  padding: 20px;
}

.footer__links li {
  list-style-type: none;
  display: inline-block;
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.footer__container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

@media (max-width: 1400px) {
  .hero__img img {
    margin-top: -50px;
  }
  .hero__content {
    margin-top: -165px;
  }
  .hero__content p {
    margin-left: 50px;
  }
  .hero__content .hero__btn {
    margin-left: 380px;
  }
  .hero__btn p {
    margin-left: -5px;
  }
  .featured-products__card {
    width: 350px;
  }
  .featured-products__container {
    margin-top: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 400px;
  }
  .featured__headline h2 {
    font-family: "Squada One", cursive;
    font-size: 4rem;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .featured__headline {
    height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 220px;
  }
  .featured__headline h2 span {
    font-family: "Squada One", cursive;
    font-size: 4rem;
    color: #fd79a8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .featured-products__card {
    width: 300px;
    border: #fd79a8 3px solid;
    border-radius: 50px;
    height: 500px;
    margin: 15px;
    margin-top: -225px;
  }
  .featured__products {
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    margin-left: 25px;
  }
  .featured__products h2 {
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .featured__products p {
    text-align: center;
    width: 275px;
  }
  .featured-products__card img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
    border-radius: 50px;
    width: 290px;
    height: 300px;
  }
}

@media (max-width: 1370px) {
  .hero__product {
    display: none;
  }
  .hero__content .hero--p__firstline p {
    margin-left: 50px;
    background-color: white;
  }
  .hero__content .hero--p__secondline p {
    margin-left: 50px;
    background-color: white;
  }
  .hero__content .hero__btn {
    margin-left: 350px;
    width: 200px;
    margin-top: -5px;
  }
  .hero__btn p {
    margin-left: 5px;
  }
}

@media (max-width: 900px) {
  .hero__product {
    display: none;
  }
  .hero__img {
    margin-top: 5px;
  }
  .hero__content {
    margin-top: -375px;
  }
  .hero__content .hero--p__firstline p {
    margin-left: 50px;
    background-color: white;
  }
  .hero__content .hero--p__secondline p {
    margin-left: 50px;
    background-color: white;
  }
  .hero__content .hero__btn {
    margin-left: 190px;
    width: 200px;
  }
  .hero__btn p {
    margin-left: 5px;
  }
  .featured-products__card {
    width: 350px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 25px;
    margin-top: 25px;
  }
  .featured-products__container {
    margin-top: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 500px;
  }
  .featured__headline h2 {
    font-family: "Squada One", cursive;
    font-size: 4rem;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    margin-top: -180px;
  }
  .featured__products {
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 600px;
  }
  .footer__logo img {
    width: 250px;
    margin-top: 0px;
  }
  footer {
    border: #fd79a8 3px solid;
    width: 100%;
    margin-top: 900px;
  }
  .footer__links li a {
    color: black;
    font-weight: 300;
    font-family: "Squada One", cursive;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 20px;
  }
  .footer__links li {
    list-style-type: none;
    display: inline-block;
  }
  .footer__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
  }
  .footer__container {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

@media (max-width: 750px) {
  .hero__content h1 {
    display: none;
  }
  .hero__product {
    display: none;
  }
  .hero--p__firstline {
    display: none;
  }
  .hero--p__secondline {
    display: none;
  }
  .hero__btn {
    display: none;
  }
  .hero__product {
    display: none;
  }
  .hero__img {
    margin-top: -30px;
  }
  .hero__content {
    margin-top: -275px;
    text-align: center;
    margin-right: 100px;
  }
  .hero__content .hero--p__firstline p {
    margin-left: 0px;
    background-color: white;
  }
  .hero__content .hero--p__secondline p {
    margin-left: 0px;
    background-color: white;
  }
  .hero__content .hero__btn {
    margin-left: 190px;
    width: 200px;
    margin-top: 15px;
  }
  .hero__btn p {
    margin-left: 5px;
  }
  .featured-products__card {
    width: 350px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 25px;
    margin-top: 25px;
  }
  .featured-products__container {
    margin-top: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 500px;
  }
  .featured__headline h2 {
    font-family: "Squada One", cursive;
    font-size: 4rem;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    margin-top: -180px;
  }
  .featured__products {
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 600px;
  }
  .footer__logo img {
    width: 250px;
    margin-top: 0px;
  }
  footer {
    border: #fd79a8 3px solid;
    width: 100%;
    margin-top: 900px;
  }
  .footer__links li a {
    color: black;
    font-weight: 300;
    font-family: "Squada One", cursive;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 20px;
  }
  .footer__links li {
    list-style-type: none;
    display: inline-block;
  }
  .footer__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
  }
  .footer__container {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.products__headline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.products__headline span {
  font-family: "Squada One", cursive;
  font-size: 4rem;
  color: #fd79a8;
  margin-left: 15px;
}

.products__headline h2 {
  font-family: "Squada One", cursive;
  font-size: 4rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.form-control {
  border-color: #fd79a8;
  width: 400px;
  margin-left: 80px;
}

.d-flex .btn {
  color: #fd79a8 !important;
  border-color: #fd79a8;
}

.d-flex .btn:hover {
  color: white !important;
  border-color: white;
  background-color: #fd79a8;
}

.all-products__card {
  width: 350px;
  border: #fd79a8 3px solid;
  border-radius: 50px;
  height: 500px;
  margin: 10px;
}

.all__products {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.all__products img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  border-radius: 50px;
}

.all__products h2 {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.all__products p {
  position: relative;
  text-align: center;
}

@media (max-width: 1400px) {
  .form-control {
    width: 250px;
    margin-left: 150px;
    border-color: #fd79a8;
  }
  .d-flex .btn {
    color: #fd79a8 !important;
    border-color: #fd79a8;
  }
}

@media (max-width: 750px) {
  .all__products {
    margin-bottom: -850px;
  }
}

.details__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.post {
  height: 600px;
}

.post h1 {
  font-family: "Squada One", cursive;
  color: #fd79a8;
  font-size: 4rem;
}

a.cart {
  text-decoration: none;
  color: #fd79a8;
  font-size: 2rem;
  font-family: "Squada One", cursive;
}

.cart__headline {
  color: #fd79a8;
}

.container {
  margin-bottom: 73px;
}

.col-sm-12 h1 {
  font-family: "Squada One", cursive;
  color: #fd79a8;
}
/*# sourceMappingURL=style.css.map */