.products__headline {
  display: flex;
  justify-content: center;
}

.products__headline span {
  font-family: $header-font;
  font-size: 4rem;
  color: $main-brand-col;
  margin-left: 15px;
}

.products__headline h2 {
  font-family: $header-font;
  font-size: 4rem;
  display: inline-flex;
  justify-content: center;
  text-align: center;
}

.form-control {
  border-color: $main-brand-col;
  width: 400px;
  margin-left: 80px;
}

.d-flex .btn {
  color: $main-brand-col !important;
  border-color: $main-brand-col;
  // background-color: $main-brand-col;
}

.d-flex .btn:hover {
  color: white !important;
  border-color: white;
  background-color: $main-brand-col;
}

.all-products__card {
  width: 350px;
  border: $main-brand-col 3px solid;
  border-radius: 50px;
  height: 500px;
  margin: 10px;
}

.all__products {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.all__products img {
  display: flex;
  justify-content: center;
  margin: auto;
  border-radius: 50px;
}

.all__products h2 {
  margin: auto;
  display: flex;
  justify-content: center;
}

.all__products p {
  position: relative;
  text-align: center;
}

@media (max-width: 1400px) {
  .form-control {
    width: 250px;
    margin-left: 150px;
    border-color: $main-brand-col;
  }

  .d-flex .btn {
    color: $main-brand-col !important;
    border-color: $main-brand-col;
    // background-color: $main-brand-col;
  }
}

@media (max-width: 750px) {
  .all__products {
    margin-bottom: -850px;
  }
}
